
<div  class="modal fade  bd-example-modal-md" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true" *ngIf="true">
<div class="modal-dialog modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Reporte Constancia de Cumplido</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="pdf" class="container">
        <div id="hoja">
          <div id="titulo" class="text-center page-header">
            <!--img src="logo1.png" alt=""-->
            <section class="logo">
              <img src="assets/img/tsp.png">
            </section>
            
         
            <p class="under-line"></p>
            
          </div>
          <div id="encabezado">
            <P>Tiquete de carga: <span>{{selectConstCK.tiquete_cargue}}</span></P> 
            <p>Planilla:   <span> {{selectConstCK.shipment_gid}}</span> </p>
            <p>Placa:   <span> {{selectConstCK.power_unit_gid}}</span> </p>
            <P>Cedula conductor: <span> {{selectConstCK.driver_gid}}</span></P> 
            <P>Ruta:   <span> {{selectConstCK.source_location_gid}}</span> - <span> {{selectConstCK.dest_location_gid}}</span></P>
            <p>Fecha Cumplido:  <span>{{selectConstCK.fecha_cumplido}} </span> </p>
            <P>Peso: <span> {{selectConstCK.peso_cargue}}</span></P>
            <P>Unidad: <span> {{selectConstCK.total_weight_uom_code}}</span></P>
            <P>Flete: <span> {{selectConstCK.flete}}</span></P>
            <P>Anticipo: <span> {{selectConstCK.anticipo}}</span></P>
            <P>Fecha Constancia Cumplido: <span> {{selectConstCK.fecha_constancia_cumplido}}</span></P>


          </div>
          <div id="cuerpo">
        
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      <button (click)="generatePDF()" type="button" class="btn btn-primary">Descargar Pdf</button>
    </div>
  </div>
</div>
</div>
<!-- Section Form -->


<section class="form">
  <div class="container pt-5 pb-5 ">
    <div class="row">
      <div class="col-md-12 text-center ">
        <h3 class="tittle-mark ">
          <span class="tittle">CONSTANCIA DE CUMPLIDO</span>
        </h3>
        <h6 class="sub-tittle-mark">
          <span class="sub-tittle">PLACA  </span>
        </h6>
        
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]='formConstCompliment'  >
              <div class="form-row ">
                <div class="col-md-3">
                  <h5 class="text-left-input">Placa</h5>
                  <input  formControlName="powerUnitGID"  [(ngModel)]="constCompEntity.powerUnitGID"  class="input-out-border" placeholder="Placa" >
                </div>
                <div class="col-md-3">
                    <h5 class="text-left-input">F.Inicio:</h5>
                    <input  formControlName="startDate"  [(ngModel)]="startDate" type="date"  class="input-out-border" value="{{2019-08-01}}"  >
                  </div>

                  <div class="col-md-3">
                      <h5 class="text-left-input">F.Final:</h5>
                      <input  formControlName="endDate"  [(ngModel)]="endDate" type="date"  class="input-out-border" value="{{2019-09-16}}" >
                    </div>
              
              </div>

              <div *ngIf="constComView" class="table ">
                  <h6 class="sub-tittle-mark">
                      <span class="sub-tittle "> CONSTANCIA DE CUMPLIDO</span>
                    </h6>

                    <div class="table-responsive" >
                    <table class="table col-md-8 animated fadeIn fast">
                        <thead class="thead-color ">
                          <tr>
                            <th scope="col">SELECCIONAR</th>
                            <th scope="col ">PLANILLA</th>
                            <th scope="col">PLACA</th>
                            <th scope="col">CONDUCTOR(CC)</th>
                            <th scope="col">ORIGEN</th>
                            <th scope="col">DESTINO</th>
                            <th scope="col">TIQUETE</th>
                            <th scope="col">F.CUMPLIDO</th>
                            <th scope="col">PRESO</th>
                            <th scope="col">UNIDAD</th>
                            <!-- <th scope="col">FLETE</th>
                            <th scope="col">ANTICIPO</th> -->
                       
                          </tr>
                        </thead>

                    
                            <tbody  >

                                <tr class="animated fadeIn" *ngFor="let constCom of constComResult |paginate: { 
                                                      itemsPerPage: 3,
                                                      currentPage: p };let i = index" >
                                  <td><input (click)="constComSelect(constCom)" name="column" type="radio"></td>
                                  <td>{{constCom.shipment_gid}}</td>
                                  <td>{{constCom.power_unit_gid}}</td>
                                  <td>{{constCom.driver_gid}}</td>
                                  <td>{{constCom.source_location_gid}} </td>
                                  <td>{{constCom.dest_location_gid}} </td>
                                  <td>{{constCom.tiquete_cargue}} </td>
                                  <td>{{constCom.fecha_cumplido| date:'yyyy-MM-dd'}}</td>
                                  <td>{{constCom.peso_cargue}}</td>
                                  <td>{{constCom.total_weight_uom_code}}</td>
                                  <!-- <td>{{constCom.flete}}</td>
                                  <td>{{constCom.anticipo}}</td> -->
                                </tr>
                               
                              </tbody>

                              <tfoot >
                                <tr  class="mx-auto" >
                                    <td colspan="10" >
                                        <pagination-controls  
                                        previousLabel="Anterior"
                                        nextLabel="Siguiente"
                                        directionLinks="true"
                                        autoHide="true"
                                        responsive="true"
                                        (pageChange)="p = $event"></pagination-controls>
                                        <span class="text-muted font-weight-light " *ngIf="constCompEntity.length">{{constComResult.length}} Resultados</span>
                                        
                                    </td>
                                </tr>
                            </tfoot>
                      </table>
               
                      </div>
              </div>
              
           
            
              <div class="row justify-content-center" style="padding-top: 1%; padding-bottom: 1%;">
                <div  class="col-12 col-md-4 ">
                  <button  (click)="searchConstcompliment(constCompEntity.powerUnitGID,startDate,endDate)" [disabled]="formConstCompliment.invalid"  type="submit" class="btn-form">GENERAR <i class="far fa-check-circle"></i></button>

                </div>

                <div *ngIf="btnPrint" class="col-12 col-md-4 ">
                  <button  data-toggle="modal" data-target="#exampleModal" type="submit" class="btn-form">IMPRIMIR <i
                      class="fas fa-print"></i></button>
                </div>
                <div class="col-12 col-md-4">
                  <button (click)="logOut()"  type="submit" class="btn-form">SALIR <i class="fas fa-sign-out-alt"></i></button>
                </div>


              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>