
<!-- Section Form -->
<section class="form">
  <div class="container pt-5 pb-5 ">
    <div class="row">
      <div class="col-md-12 text-center ">
        <h3 class="tittle-mark ">
          <span class="tittle">CHEQUE OTM</span>
        </h3>

        <div class="row">
          <div class="col-md-12">

            <!-- tabla de cheques -->
       
              <div *ngIf="checkListView" class="table ">
                <h6 class="sub-tittle-mark">
                  <span class="sub-tittle "> LISTA DE CHEQUES</span>
                </h6>

                <div class="table-responsive">
                  <table class="table col-md-8 animated fadeIn fast">
                    <thead class="thead-color ">
                      <tr>


                        <th scope="col">AUTORIZADO</th>
                        <th scope="col ">No</th>
                        <th scope="col"><span style="font-size: 18px; color: #dee2e6;"><i
                              class="fas fa-print"></i></span> </th>
                        <th scope="col">PLANILLA</th>
                        <th scope="col">VALOR</th>
                        <th scope="col">BENEFICIARIO</th>
                        <th scope="col">VLR CHEQUE</th>
                        <th scope="col">MONEDA</th>
                        <th scope="col">BANCO</th>

                        <th scope="col">USUARIO</th>
                        <th scope="col">AGENCIA</th>
                        <th scope="col">TIPO ANTICIPO</th>
                        <th scope="col">PROV ANTICIPO</th>
                        <th scope="col">CUENTAS</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>

                    <tbody>

                      <tr class="animated fadeIn" *ngFor="let checkList of checkListResult |paginate: { 
                        itemsPerPage: 3,
                        currentPage: p };let i = index">
                        <td> </td>
                        <td>{{i+1}}</td>
                        <td><input (click)="getAdvancedSelect(checkList,providerNitSelect,advancedTypeSelect)" name="column" type="radio"></td>
                        <td>{{checkList.planilla}}</td>
                        <td>{{checkList.valor_planilla}}</td>
                        <td colspan="1">
                          
                            <button   [matTooltipClass]="'my-tooltip'" mat-button  matTooltip="
                            
                            No Cuenta: {{checkList.cuenta}}
                            Cedula cuenta: {{checkList.cedula_cuenta}}
                            Nombre cuenta: {{checkList.nombre_cuenta}}
                            Banco: {{checkList.banco}}
                            Nit: {{checkList.nit}}
                            Tipo cuenta: {{checkList.tipo_cuenta}}
       
                            ">{{checkList.benficiario}}</button>
                        
                        </td>
                        <td>{{checkList.valor_cheque}}</td>
                        <td>{{checkList.moneda}} </td>
                        <td>{{checkList.branch_code}}</td>
                        <td>{{checkList.usuario}}</td>
                        <td>{{checkList.nombre_agencia}}</td>
                        <td>

                          <div class="input-group " style="width: 200px;">
                            <select [(ngModel)]="advancedTypeSelect" [ngModelOptions]="{standalone: true}"
                              (change)="captureSelect()" class="custom-select">
                              <option value="TRANSFERENCIA">TRANSFERENCIA</option>
                            </select>
                          </div>


                        </td>

                        <td>
                          <div class="input-group " style="width: 200px;">
                            <select [(ngModel)]="providerNitSelect" [ngModelOptions]="{standalone: true}"
                              (change)="captureSelect()" class="custom-select">
                              <option *ngFor="let providerNit of providerNitResult" [value]="providerNit.nit_proveedor">
                                {{providerNit.nombre_proveedor}}</option>
                            </select>
                          </div>
                        </td>
                        <td>
                          <div class="col-12 col-md-4 ">
                            <button (click)="searchAccountManagement(checkList)"
                              type="submit" class="btn-table">GESTION DE CUENTAS</button>

                          </div>
                        </td>
                        <td>
                          <div class="col-12 col-md-4 ">
                            <button type="submit" class="btn-table">CAMBIAR DE BANCO </button>

                          </div>
                        </td>


                      </tr>

                    </tbody>

                    <tfoot>
                      <tr class="mx-auto">
                        <td colspan="10">
                          <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" directionLinks="true"
                            autoHide="true" responsive="true" (pageChange)="p = $event"></pagination-controls>
                          <span class="text-muted font-weight-light " *ngIf="checkListResult">{{checkListResult.length}}
                            Resultados</span>

                        </td>
                      </tr>
                    </tfoot>
                  </table>

                 
                </div>

                <div *ngIf="(btnAdvanced && providerNitSelect && advancedTypeSelect)" class="col-12 col-md-4  mx-auto ">
                    <button  (click)="updateadvancedConfirm()" type="submit" class="btn-form">Aceptar <i class="far fa-check-circle"></i></button>
  
                  </div>


               
              </div>
              <!-- fin lista de cheque-->

              <!-- cuentas activas -->

              <div *ngIf="activeAccountView">
                <h6 class="sub-tittle-mark">
                  <span class="sub-tittle "> CUENTAS ACTIVAS</span>
                </h6>

                <div class="input-group mx-auto" style="width: 70%">
                  <select [(ngModel)]="accountActiveSelect" (change)="captureAccount()" class="custom-select"  aria-label="Example select with button addon">
                    <option *ngFor="let activeAccount of activeAccountsResult" [value]="activeAccount.cuenta"  >

                      {{activeAccount.banco}} - {{activeAccount.cuenta}} - {{activeAccount.nombre_cuenta}}

                    </option>

                  </select>
                </div>

              </div>


              <div  class="row justify-content-center" style="padding-top: 1%; padding-bottom: 1%;">

                
                <div (click)="searchAccountDesc()" *ngIf="btnAcept" class="col-12 col-md-4 ">
                  <button type="submit" class="btn-form">SELECCIONAR <i class="far fa-check-circle"></i></button>

                </div>

                <div *ngIf="false" class="col-12 col-md-4 ">
                  <button data-toggle="modal" data-target="#exampleModal" type="submit" class="btn-form">IMPRIMIR <i
                      class="fas fa-print"></i></button>
                </div>
                <div *ngIf="btnBackCheckList"  class="col-12 col-md-4">
                  <button (click)="backCheckList()" type="submit" class="btn-form"> <i class="fas fa-undo"></i> Atras</button>
                </div>


              </div>
              <!-- fin cuentas activas -->

                <!-- descripcion  de cuentas -->
              <div  *ngIf="accountDescView" class="container pt-5 pb-5 ">
                <div class="row ">
                  <div class="col-md-12 text-center fadeIn slow ">
                    <h3 class="tittle-mark fadeIn slow">
                      <span class="tittle fadeIn slow">Descripcion de la cuenta</span>
                    </h3>
              
                    <div class="row">
                      <div class="col-md-12">
                        <form [formGroup]='formCheckOTM'  >
                        <div class="form-row mt-4 fadeIn slow">
                            <div class="col-md-4 fadeIn slow">
                              <h5 class="text-left-input fadeIn slow">Identificación</h5>
                              <input [value]="checkOTMEntity.accountID" type="number" formControlName="accountID"  [(ngModel)]="checkOTMEntity.accountID"  class="input-out-border" placeholder="Identificación">
                            </div>
                            <div class="col-md-8">
                                <h5 class="text-left-input">Nombre de la cuenta</h5>
                                <input [value]="checkOTMEntity.accountName" type="text" formControlName="accountName"  [(ngModel)]="checkOTMEntity.accountName"  class="input-out-border" placeholder="Nombre">
                            </div>
                       </div>
            
                        <div class="form-row mt-4">
                             <div class="col-md-4">
                              <h5 class="text-left-input" >Banco</h5>
                               <div class="input-group mr-auto" style="width:60%">
                                <select [value]="checkOTMEntity.bank" formControlName="bank"  [(ngModel)]="checkOTMEntity.bank" class="custom-select" id="inputGroupBanco" >
                                  <option *ngFor="let bank of bankResult"  >
                                    {{bank.banco}} 
                                  </option>
                                </select>
                               </div>
                            </div>
                            <div class="col-md-6">
                                <h5  class="text-left-input">Numero de la cuenta</h5>
                                <input [value]="checkOTMEntity.accountNumber" type="number" formControlName="accountNumber"  [(ngModel)]="checkOTMEntity.accountNumber"  class="input-out-border" placeholder="Numero de cuenta">
                            </div>
                       </div>
          
                         <div class="form-row mt-4">
                            <div class="col-md-4">
            
                               <h5 class="text-left-input" style="text-align: right">Tipo de cuenta</h5>
                               <div class="input-group mr-auto" style="width: 60%">
                                <select [value]="checkOTMEntity.accountType"  formControlName="accountType"  [(ngModel)]="checkOTMEntity.accountType" class="custom-select"  >
                                  <option  *ngFor="let accountType of accountTypeResult"> {{accountType.tipo_cuenta}}</option>
                              
                                </select>
                               </div>
                            </div>
            
            
                       </div> 
            
                          <div class="row justify-content-center" style="padding-top: 1%; padding-bottom: 1%;">


                          <div  class="col-12 col-md-6 ">
                              <button (click)="Updateadvanced(checkOTMEntity)" [disabled]="formCheckOTM.invalid" data-toggle="modal" data-target="#exampleModal" type="submit" class="btn-form">Aceptar <i
                                  class="far fa-check-circle"></i></button>
                            </div>
                            <div  class="col-12 col-md-6 ">
                              <button  (click)="addAccount(checkOTMEntity)"  [disabled]="formCheckOTM.invalid"  type="submit" class="btn-form">Nuevo <i class="far fa-check-circle"></i></button>
            
                            </div>

                     


                         
                   
            
                          </div>
            
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- fin descripcion de la cuenta -->

        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
