<ul>

  <li> <a [routerLink]="['/login']">Cerrar session</a> </li>

</ul>


<!-- Section Form -->
<section class="form" >
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="text-uppercase">
        
          <br>
          <span class="tittle">AUTORIZACION ORDEN DE CARGA</span>
        </h3>
        
        <h6 class="sub-tittle">VEHICULO Y CONDUCTOR</h6>
        <div class="row">
          <div class="col-md-12">
            <form [formGroup] ='formPowerDriverGID'> 
              <div class="form-row ">


                <div class="col-md-3">
                  <h5 class="text-left-input">Placa</h5>
                  <input [(ngModel)] ="powerDriverGID.powerGID" formControlName="powerGID"   type="text" class="input-out-border"  placeholder="Placa del vehiculo">
                </div>

                <div class="col-md-3">
                  <h5 class="text-left-input">Identificacion</h5>
                  <input [(ngModel)] ="powerDriverGID.driverGID" formControlName="driverGID"   type="text" class="input-out-border"  placeholder="Identificacion">
                </div>



              </div>
            
              
              <div  *ngIf="enableAvailableRoutes"  class="table">
                 <h6 class="sub-tittle"> RUTAS DISPONIBLES </h6>
                  <table class="table table-header-rotated">
                      
                    
                    <thead style = "background: #d1dceb;">
                        <tr>
                          <!-- First column header is not rotated -->
                          
                          <!-- Following headers are rotated -->
                          <th class="rotate"><div><span>SELECCIÓN</span></div></th>
                          <th class="rotate"><div><span>ORIGEN</span></div></th>
                          <th class="rotate"><div><span>DESTINO</span></div></th>
                           
                      
                        </tr> 
                      </thead>
                      <tbody>
                        <tr>
                       
                          <td><input checked="checked" name="column1[]" type="radio" value="row1-column1" ></td>
                          
                          <td>EE</td>
                          <td>TT</td>
                        
                     
                        </tr>
                        <tr>
                       
                            <td><input checked="checked" name="column1[]" type="radio" value="row1-column1" ></td>
                            
                            <td colspan="2"> OTRAS RUTAS</td>
                   
                          </tr> 
                      </tbody>
                    </table>
       
              </div>



              
              <div  *ngIf="enableOtherRoutes"  class="table">
                  <h6 class="sub-tittle"> OTRAS RUTAS </h6>
                  <table class="table table-header-rotated">
                      
                    
                    <thead style = "background: #d1dceb;">
                        <tr>
                          <!-- First column header is not rotated -->
                          
                          <!-- Following headers are rotated -->
                          <th class="rotate"><div><span>SELECCIÓN</span></div></th>
                          <th class="rotate"><div><span>ORIGEN</span></div></th>
                          <th class="rotate"><div><span>DESTINO</span></div></th>
                           
                      
                        </tr> 
                      </thead>
                      <tbody>
                        <tr>
                       
                          <td><input checked="checked" name="column2[]" type="radio" value="row1-column2" ></td>
                          
                          <td>EE</td>
                          <td>TT</td>
                        
                     
                        </tr>

                        
                    
                      </tbody>
                    </table>
       
              </div>
              
              
              <div class="row justify-content-center" style="margin-top: 5%;">
                  <div class="col-2">
                      <button  (click)="searchPowerDriver(powerDriverGID)" type="submit" class="btn-form">ACEPTAR</button>
                    </div>
                    <div class="col-2">
                      <button type="submit" class="btn-form">SALIR</button>
                    </div>
                   
                 
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>